[data-event-id] {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width:370px) {
  .timeline-event.standalone {
    width: 300px;
    max-width: 80vw;
    white-space: initial;
  }
}

@media screen and (min-width:371px) {
 .timeline-event.standalone {
  width: 400px;
  max-width: 90vw;
  white-space: initial;
}
}
[data-timeline-id] .vis-item .vis-item-content {
  width: 100%;
  padding: 8px;
}

[data-timeline-id] .vis-item {
  border-color: initial;
  background-color: initial;
  border-width: 0;
  color: initial;
     /* fix sticky first item */
  transform: translate(-1000px, -1000px);
}

[data-timeline-id] .vis-content {
  padding: 0;
}

.vis-panel .vis-time-axis.vis-background .vis-minor {
  /* style minor grid here */
}

.vis-timeline {
  border: none !important;
}

.vis-item.vis-box {
  text-align: left !important;
}

.vis-text.vis-minor {
  /* style minor labels here */
}
