[data-event-id] {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-enddate]:is([data-enddate=""]) {
  width: 400px;
  white-space: initial;
}

[data-timeline-id] .vis-item .vis-item-content {
  width: 100%;
  padding: 8px;
}

[data-timeline-id] .vis-item {
  border-color: initial;
  background-color: initial;
  border-width: 0;
  color: initial;
}

[data-timeline-id] .vis-content {
  padding: 0;
}

.vis-panel .vis-time-axis.vis-background .vis-minor {
  border-color: transparent;
}

.vis-timeline {
  border: none !important;
}

.vis-item.vis-box {
  text-align: left !important;
}

.vis-text.vis-minor {
  /* style minor labels here */
}
